<h2 class="page-title">Editar Mostrador <span class="fw-semi-bold"></span></h2>

<div class="row">
    <div class="col-lg-12">
        <section widget class="widget">
            <header>
                <h3 class="page-title">Desks<span class="fw-semi-bold"></span></h3>
                <h4 class="text-right"> Opciones avanzadas</h4>
            </header>
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-1 rounded-circle">
                        <div style="font-size: 50px; text-align: center; color: #56bc76; height: 80px;"><i class="fa fa-picture-o"></i></div>
                    </div>
                    <div class="col-md-1 rounded-circle">
                        <div style="font-size: 50px; text-align: center; color: #56bc76; height: 80px;"><i class="fa fa-picture-o"></i></div>
                    </div>
                    <div class="col-md-1 rounded-circle">
                        <div style="font-size: 50px; text-align: center; color: #56bc76; height: 80px;"><i class="fa fa-picture-o"></i></div>
                    </div>
                    <div class="col-md-1 rounded-circle">
                        <div style="font-size: 50px; text-align: center; color: #56bc76; height: 80px;"><i class="fa fa-picture-o"></i> </div>
                    </div>
                    <div class="col-md-1 rounded-circle">
                        <div style="font-size: 50px; text-align: center; color: #56bc76; height: 80px;"><i class="fa fa-picture-o"></i> </div>
                    </div>
                    <div class="col-md-1 rounded-circle">
                        <div style="font-size: 50px; text-align: center; color: #56bc76; height: 80px;"><i class="fa fa-picture-o"></i> </div>
                    </div>
                    <div class="col-md-5">
                        <div class="elemento">
                            <h3 class="mt-md mb-xs">Opciones avanzadas</h3>
                            <ul>
                                <li>Selector</li>
                                <li>L M X J V S D</li>
                                <li>Max 500 </li>
                                <li>Desde (fecha) hasta:</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">

    <div class="col-md-6">
        <div class="card">
            <h4 class="card-title text-center"><strong>Mostrador</strong></h4>
            <div class="col-md-5 rounded-circle text-center">
                <div style="font-size: 100px; text-align: center; color: #56bc76; height: 120px;"><i class="fa fa-picture-o"></i> </div>
            </div>
            <div class="card-block">
                <p class="card-text">
                    Mostrador (selector)
                </p>
                <ul>
                    <li>Descripcion</li>
                    <li>Nomenclatura</li>
                    <li><span class="badge badge-danger"></span>Status: fallo crítico</li>
                    <li class="abc-checkbox abc-checkbox-info">
                        <input checked="" id="checkboxAPP" type="checkbox">
                        <label for="checkboxAPP">
                            APP
                        </label>

                        <input checked="" id="checkboxSMS" type="checkbox">
                        <label for="checkboxSMS">
                            SMS
                        </label>

                        <input checked="" id="checkboxTicket" type="checkbox">
                        <label for="checkboxTicket">
                            Ticket
                        </label>
                    </li>
                    <li>L M X J V S D</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <h4 class="card-title text-center"><strong>Crear cola</strong></h4>
            <div style="font-size: 100px; text-align: center; color: #56bc76; height: 120px;"><i class="fa fa-plus"></i> </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-actions">
            <div class="row">
                <div class="col-lg-7">
                    <div class="btn-toolbar">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-inverse">Borrar todo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>