<h2 class="page-title">Account Demo
    <small>Out of the box form</small>
  </h2>
<div class="row">
    <div class="col-lg-7">
      <section widget class="widget">
        <header>
          <h4><i class="fa fa-user"></i> Account Profile
            <small>Create new or edit existing user</small>
          </h4>
        </header>
        <div class="widget-body">
          <form id="user-form" class="form-horizontal form-label-left parsleyjs"
                novalidate="novalidate"
                method="post"
                data-parsley-priority-enabled="false"
                data-parsley-excluded="input[name=gender]">
            <div class="row">
              <div class="col-md-4">
                <div class="text-center">
                  <img class="rounded-circle" src="assets/img/3.png" alt="64x64" style="height: 112px;">
                </div>
              </div>
              <div class="col-md-6">
                <h3 class="mt-md mb-xs">Maryna Gils</h3>
                <address>
                  <strong>Development manager</strong> at <strong><a href="#">Allexample Inc.</a></strong><br>
                  <abbr title="Work email">e-mail:</abbr> <a href="mailto:#">maryna.gils@example.com</a><br>
                  <abbr title="Work Phone">phone:</abbr> (123) 456-7890
                </address>
              </div>
            </div>
            <fieldset class="mt-md">
              <legend>Account Edit Form
                <small>Some explanation text</small>
              </legend>
            </fieldset>
            <fieldset>
              <legend class="section">Personal Info</legend>
              <div class="form-group row">
                <label class="col-form-label col-md-4" for="prefix">Prefix</label>

                <div class="col-md-4">
                  <input type="text" id="prefix" name="prefix" class="form-control input-transparent">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-md-4" for="first-name">First Name
                  <span class="required">*</span>
                </label>

                <div class="col-md-8">
                  <input type="text" id="first-name" name="first-name" required="required" class="form-control input-transparent">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-md-4" for="last-name">Last Name <span
                  class="required">*</span></label>

                <div class="col-md-8"><input type="text" id="last-name" name="last-name" required="required"
                                             class="form-control input-transparent"></div>
              </div>
              <div class="form-group row">
                <label for="middle-name" class="col-form-label col-md-4">Middle Name / Initial</label>

                <div class="col-md-8"><input id="middle-name" class="form-control input-transparent" type="text" name="middle-name"
                                             value=""></div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-md-4">Gender</label>

                <div class="col-md-6">
                  <div id="gender" class="btn-group" data-toggle="buttons">
                    <label class="btn btn-secondary" data-toggle-class="btn-primary"
                           data-toggle-passive-class="btn-default">
                      <input type="radio" name="gender" value="male"> &nbsp; Male &nbsp;
                    </label>
                    <label class="btn btn-primary active" data-toggle-class="btn-primary"
                           data-toggle-passive-class="btn-secondary">
                      <input type="radio" name="gender" value="female" checked> Female
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="date-of-birth" class="col-form-label col-md-4">Date Of Birth <span
                  class="required">*</span></label>

                <div class="col-md-6">
                  <datetime
                    id="date-of-birth"
                    [(ngModel)]="birthDate"
                    name="datetime"
                    [datepicker]="datepickerOpts"
                    [timepicker]="false"
                    datetime-transparent
                    [showAddon]="false"></datetime>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend class="section">Contact Info</legend>
              <div class="form-group row">
                <label id="email-label" for="email" class="col-form-label col-md-4">Email <span class="required">*</span></label>

                <div class="col-12 col-md-6">
                  <div class="input-group">
                    <input id="email" type="email"
                           data-trigger="change" required="required"
                           class="form-control input-transparent"
                           name="email">
                    <span class="input-group-btn">
                      <button class="btn btn-success" type="button">Write an email</button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="phone" class="col-form-label col-md-4">Phone <span class="required">*</span></label>

                <div class="col-12 col-md-6">
                  <div class="input-group">
                    <input id="phone" class="form-control input-transparent  mask"
                           required="required" type="text"
                           name="phone" maxlength="28">
                    <span class="input-group-btn">
                      <select id="phone-type" class="selectpicker" data-style="btn-secondary" data-width="auto">
                        <option>Mobile</option>
                        <option>Home</option>
                        <option>Work</option>
                      </select>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="fax" class="col-form-label col-md-4">Fax</label>

                <div class="col-12 col-md-6">
                  <div class="input-group">
                    <input id="fax" class="form-control input-transparent" type="text"
                           name="phone" maxlength="28">
                    <span class="input-group-btn">
                      <select id="fax-type" class="selectpicker" data-style="btn-secondary" data-width="auto">
                        <option>Mobile</option>
                        <option>Home</option>
                        <option>Work</option>
                      </select>
                    </span>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend class="section">
                Address
                <button type="button" class="btn btn-transparent btn-xs float-right">
                  <i class="fa fa-plus"></i>
                  Add Address
                </button>
              </legend>
              <div class="form-group row">
                <label for="address" class="col-form-label col-md-4">Address <span class="required">*</span></label>

                <div class="col-12 col-md-6">
                  <div class="input-group">
                    <input id="address" class="form-control input-transparent" type="text"
                           name="address">
                    <span class="input-group-btn">
                      <select id="address-type" class="selectpicker" data-style="btn-secondary" data-width="auto">
                        <option>Mobile</option>
                        <option>Home</option>
                        <option>Work</option>
                      </select>
                    </span>
                  </div>
                  <input id="address-2" class="form-control input-transparent mt-md" type="text" value="" name="address-2">
                </div>
              </div>
              <div class="form-group row">
                <label for="city" class="col-form-label col-md-4">City <span class="required">*</span></label>

                <div class="col-12 col-md-6"><input id="city" class="form-control input-transparent" required="required" type="text"
                                                       value="" name="city"></div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-md-4">State <span class="required">*</span></label>
                <div class="col-md-4">
                  <select2
                    [data]="getSelect2StateList()"
                    class="select-block-level chzn-select"
                    [width]="'100%'"
                    [options]="{theme: 'bootstrap'}"></select2>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-md-4">Country <span class="required">*</span></label>
                <div class="col-md-4">
                  <select2
                    [data]="getSelect2CountryList()"
                    [width]="'100%'"
                    class="select-block-level chzn-select"
                    [options]="{theme: 'bootstrap'}"></select2>
                </div>
              </div>
            </fieldset>
            <div class="form-actions">
              <div class="row">
                <div class="col-md-8 offset-md-4">
                  <button type="submit" class="btn btn-primary">Validate &amp; Submit</button>
                  <button type="button" class="btn btn-secondary">Cancel</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
    <div class="col-lg-5">
      <section widget class="widget">
        <header>
          <h4><i class="fa fa-cogs"></i> Account settings</h4>

          <div class="actions">
            <button class="btn btn-xs btn-inverse"><i class="fa fa-arrow-down"></i> View more</button>
          </div>
        </header>
        <div class="widget-body">
          <form method="post">
            <fieldset>
              <div class="form-group">
                <label for="datetimepicker">
                  Account expiration date
                </label>
                <datetime class="form-line" [timepicker]="false" [datepicker]="datepickerOpts" [(ngModel)]="expirationDate" name="datetime" id="datetimepicker"></datetime>
                <p class="help-block">Bootstrap datepicker</p>
              </div>
              <div class="form-group">
                <label for="website">Associate to Website</label>
                <select2 id="website"
                         [data]="getSelect2WebsiteAssociateList()"
                         [width]="'100%'"
                         class="select-block-level chzn-select"
                         [options]="{theme: 'bootstrap'}"></select2>
              </div>
              <div class="form-group">
                <label for="created_by">Created By</label>
                <input id="created_by" class="form-control" type="text" name="created_by"
                       value="Admin" disabled="disabled">
              </div>
              <div class="form-group">
                <label for="groups">Account Group</label>
                <select2 id="groups"
                         [data]="getSelect2AccountGroupsList()"
                         [width]="'100%'"
                         class="select-block-level chzn-select"
                         [options]="{theme: 'bootstrap'}"></select2>
              </div>
              <div class="form-group row">
                <div class="checkbox abc-checkbox">
                  <input type="checkbox" id="change-password" name="change-password">
                  <label for="change-password">
                    Request password change
                  </label>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </section>
    </div>
  </div>

