<h2 class="page-title">Edit device <span class="fw-semi-bold"></span>
<span class="pull-right smaller">< back</span>
</h2>

<div class="row">
    <div class="col-lg-12">
        <section widget class="widget">
            <header class="text-right">
                <h4>
               <i class="fa fa-user"></i> Título
                <small>Edit device</small>
                <div class="display-inline-block checkbox-ios">
                    <label class="switch" for="checkbox-ios1">
                        <input checked="" class="ios" id="checkbox-ios1" type="checkbox"><i></i>
                    </label>
                </div>   
              </h4>
            </header>
            <div class="widget-body">
                <form #form="ngForm" (submit)="saveDeviceDetail()" ngNativeValidate>
                    <div class="row">
                        <div class="col-md-3 rounded-circle">
                            <div style="font-size: 150px; text-align: center; color: #56bc76; height: 200px;">
                                <!-- <i class="fa fa-picture-o"></i> -->
                                <!-- <img src={{device.imageUrl}} class="card-img-top" alt="">                   -->
                                <img class="rounded-square" src={{device.deviceType.imageUrl}} alt="250x250" style="height: 230px;">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h3 class="mt-md mb-xs">Modo</h3>
                            <ul>
                                <li>Modo
                                    <select>Modo</select>
                                </li>
                                <li>Fabricante</li>
                                <li>Modelo</li>
                            </ul>
                        </div>
                        <div class="col-md-5">
                            <div class="elemento">
                                <h3 class="mt-md mb-xs">Estado
                                    <div class="display-inline-block checkbox-ios">
                                        <label class="switchBo" for="deviceStatus">
                                            <input class="ios" id="deviceStatus" type="checkbox" name="deviceStatusChk" [(ngModel)]="device.active"><i></i>
                                        </label>
                                    </div>
                                </h3>
                                <ul class="listas">
                                    <li>Activo / no activo
                                        <i class="fa fa-power-off"></i>
                                    </li>
                                    <li>Bateria
                                        <i class="fa fa-battery-empty"></i>
                                        <i class="fa fa-battery-quarter"></i>
                                        <i class="fa fa-battery-half"></i>
                                        <i class="fa fa-battery-three-quarters"></i>
                                        <i class="fa fa-battery-full"></i>
                                    </li>
                                    <li>Papel
                                        <i class="fa fa-file-o"></i>
                                    </li>
                                    <li>Pila
                                        <i class="fa fa-battery-0"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <h3 class="page-title">Device <span class="fw-semi-bold">properties</span></h3>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="elemento">
                                <ul>
                                    <li>
                                        <!-- <i class="fa fa-angle-right"></i> -->
                                        <!-- <div>
                                        <label>Conectividad:</label>
                                        <input  class="form-control" type="text" id="conectivity" name="conectivity" [(ngModel)]="device.conectivity" required #conectivity="ngModel">
                                    </div> -->
                                        <div>
                                            <label>Conectividad:</label>
                                            <input type="text" id="conectivity" name="conectivity" [(ngModel)]="device.conectivity" required #conectivity="ngModel">
                                        </div>
                                        <div *ngIf="conectivity.required" class="alert alert-danger">
                                            ERRORRRRRRRRRRL!!
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <label>Mac:</label>
                                            <input type="text" name="mac" [(ngModel)]="device.mac">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <label>IP:</label>
                                            <input type="text" name="ip" [(ngModel)]="device.ip">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <label>Bateria:</label>
                                            <input type="text" name="battery" [(ngModel)]="device.battery">
                                        </div>
                                    </li>
                                    <li>Mayor/minor(en beacons)</li>
                                    <li>
                                        <div>
                                            <label>Uid:</label>
                                            <input type="text" name="uid" [(ngModel)]="device.uid">
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <label>Serial Number:</label>
                                            <input type="text" name="serialNumber" [(ngModel)]="device.serialNumber">
                                        </div>
                                    </li>
                                    <li>Push (oculto)</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="elemento">
                                <h4>Entorno </h4>
                                <ul>
                                    <li><i class="fa fa-angle-right"></i>Activo / no activo
                                          <i class="fa fa-power-off"></i>
                                        <div class="display-inline-block checkbox-ios">
                                        <label class="switchBo" for="deviceStatus">
                                            <input class="ios" id="deviceStatus" type="checkbox" name="deviceStatusChk" [(ngModel)]="device.active"><i></i>
                                        </label>
                                    </div>
                                     
                                    </li>
                                    <li><i class="fa fa-angle-right"></i>Entidad</li>
                                    <li><i class="fa fa-angle-right"></i>Fotos
                                        <i class="fa fa-picture-o"></i> <i class="fa fa-picture-o"></i>
                                    </li>
                                    <li><i class="fa fa-angle-right"></i>Ubicación</li>
                                    <li><i class="fa fa-angle-right"></i>Identificador</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="elemento">
                                <h4>Log</h4>
                                <span *ngFor="let deviceLog of device.deviceLogList">
                                    <p>{{deviceLog.line}}</p>
                                </span>                                
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="widget">
                                <!-- <div style="font-size: 200px; text-align: center; color: #56bc76; height: 280px;">
                                    <i class="fa fa-picture-o"></i>
                                </div>-->
                                <img src="assets/img/code.png" class="card-img-top" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-lg-offset-4 col-lg-7">
                                <div class="btn-toolbar">
                                    <button type="button" (click)="deleteDeviceDetailForm()" class="btn btn-inverse">Borrar todo</button>
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>