@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../../../node_modules/bootstrap/scss/_variables";
@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../scss/select2-variables";





.listas{       
    & li{
        font-weight: 700; 
        padding: 10px 10px;
        & i{
            font-size: 20px; 
            color: #56bc76;
            }            
    }        
}   

.elemento{
  border-radius: $border-radius-base;
  @include box-sizing(content-box);
  padding: $widget-padding;
  color: $widget-color;
  background: $widget-bg;
  position: relative;
}


/**
 * Switchery.
 */

.switch, .switchBo{
  box-sizing: content-box;
}
.switch input, .switchBo input {
  display: none;
}
.switch i {
  display: inline-block;
  cursor: pointer;
  padding-right: 20px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  border-radius: 20px;
  box-shadow: inset 0 0 1px rgba(0,0,0,.5);
}
.switch i:before{
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  padding: 1px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.switch :checked + i, .switchBo :checked + i {
  padding-right: 0;
  padding-left: 20px;
  background: rgb(94, 189, 209);
}

/**
* Mshop SWITCH
**/


.switchBo i {
  display: inline-block;
  cursor: pointer;
  padding-right: 20px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  border-radius: 20px;
  box-shadow: inset 0 0 1px rgba(0,0,0,.5);
}
.switchBo i:before {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  padding: 1px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.switch :checked + i, .switchBo :checked + i {
  padding-right: 0;
  padding-left: 20px;
  background: #56bc76;
}





/***********************************/
/**         Search Result         **/
/***********************************/

:host {
  color: #f8f8f8;
}

.pagination-deviceDetail > .active > a {
  background-color: rgba(51,51,51,0.25);
  color: #fff;
}

.value3, .deviceDetail-count {
  color: #f8f8f8;
}

.btn-toolbar {
  justify-content: space-between;
}

.deviceDetail-categories{
  > .nav-item > .nav-link {
    color: $text-color;
    background-color: transparent;
    font-weight: $font-weight-normal;
    &:hover{
      color: $white;
      background-color: rgba($widget-bg-common, .25);
    }

    > .glyphicon{
      margin-right: 5px;
    }

    > .badge{
      float: right;
    }
  }
}

.deviceDetail-count{
  margin-top: 10px;
}

.deviceDetail-item{
  padding: 20px;
  background-color: $widget-bg;
  border-radius: $border-radius;
  @include clearfix();

  .image-link{
    display: block;
    overflow: hidden;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    @include media-breakpoint-up(md){
      display: inline-block;
      margin: -20px 0 -20px -20px;
      float: left;
      width: 200px;
    }
    @include media-breakpoint-down(sm) {
      max-height: 200px;
    }
  }

  .image{
    max-width: 100%;
  }

  .info{
    margin-top: 2px;
    font-size: $font-size-sm;
  }

  .description{
    font-size: $font-size-base;
  }

  + .deviceDetail-item{
    margin-top: 20px;
  }
}

.deviceDetail-item-body{
  height: auto;
  @include media-breakpoint-down(sm) {
    margin-top: 10px;
  }
  @include media-breakpoint-up(md){
    margin-left: 200px;
  }
}

.deviceDetail-item-heading{
  font-weight: $font-weight-normal;

  > a {
    color: $widget-header-color;
  }

  @include media-breakpoint-up(md) {
    margin: 0;
  }
}

.pagination-deviceDetail{
  display: inline-flex;

  > .page-link > .page-item,
  > .page-link > span{
    color: $text-color;

    &:hover,
    &:focus{
      background-color: rgba($widget-bg, .25);
      color: $white;
    }
  }

  > .disabled > span,
  > .disabled > span:hover,
  > .disabled > span:focus,
  > .disabled > .page-item,
  > .disabled > .page-item:hover,
  > .disabled > .page-item:focus{
    color: #ddd;
  }

  > .active > .page-item,
  > .active > .page-item:hover,
  > .active > .page-item:focus,
  > .active > span,
  > .active > span:hover,
  > .active > span:focus{
    background-color: rgba($widget-bg, .25);
    color: $white;
  }
}

.dropdown-toggle:after {
  display: none;
}
