<div class="landing" id="landing-top">
  <div class="container">
    <header class="page-header">
      <div class="navbar flex-row">
        <div class="logo">
          <h4><a href="index.html">Light <strong>Blue</strong></a> <small>bootstrap 4 template</small></h4>
        </div>
        <ul class="navbar-buttons">
          <li>
            <a href="index.html" class="btn btn-sm btn-transparent">
              Preview&nbsp;
              <i class="fa fa-arrow-right"></i>
            </a>
          </li>
          <li>
            <a href="https://wrapbootstrap.com/theme/light-blue-responsive-admin-template-WB0T41TX4"
               class="btn btn-sm btn-transparent">
              Download&nbsp;
              <i class="fa fa-download"></i>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav flex-row navbar-menu hidden-sm-down ml-auto">
          <li class="active">
            <a href="#">
              Home
            </a>
          </li>
          <li>
            <a [routerLink]="['/landing']" fragment="about" (click)="onAnchorClick()">
              About
            </a>
          </li>
        </ul>
      </div>
    </header>
    <div class="content">
      <div id="carousel-landing" class="carousel slide carousel-landing carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-landing" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-landing" data-slide-to="1" class=""></li>
          <li data-target="#carousel-landing" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-6">
                <div class="animated fadeInLeftBig">
                  <h1 class="slide-one-header"><strong>M Shop </strong>Turnos <br></h1>
                  <p class="lead hidden-sm-down">
                    World <strong>First</strong> Transparent Dashboard
                  </p>
                  <p>
                    <a href="index.html" class="btn btn-lg btn-white">
                      Preview &nbsp; <i class="fa fa-angle-right"></i>
                    </a>
                    <a href="https://wrapbootstrap.com/theme/light-blue-responsive-admin-template-WB0T41TX4"
                       class="btn btn-lg btn-transparent">
                      Purchase &nbsp; <i class="fa fa-shopping-cart"></i>
                    </a>
                  </p>
                </div>
              </div>
              <div class="col-6">
                <div class="text-center animated fadeInRightBig">
                  <img src="assets/img/jpeg/light-blue-preview-1.png" alt="Second slide">
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <h1 class="slide-two-header text-center animated fadeInDown mt-1">
              <strong>Transparent</strong> & <strong>White</strong>
              Versions
            </h1>
            <div class="row">
              <div class="col-6">
                <div class="animated fadeInLeftBig">
                  <p>
                    <a href="index.html">
                      <img src="assets/img/jpeg/light-blue-laptop-transparent.png" alt=""/>
                    </a>
                  </p>
                  <p class="text-center">
                    <a href="index.html" class="btn btn-transparent btn-lg btn-version-preview">
                      Preview &nbsp; <i class="fa fa-angle-right"></i>
                    </a>
                  </p>
                </div>
              </div>
              <div class="col-6">
                <div class="animated fadeInRightBig">
                  <p>
                    <a href="../white/index.html">
                      <img src="assets/img/jpeg/light-blue-laptop-white.png" alt=""/>
                    </a>
                  </p>
                  <p class="text-center">
                    <a href="../white/index.html" class="btn btn-white btn-lg btn-version-preview">
                      Preview &nbsp; <i class="fa fa-angle-right"></i>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-6">
                <div class="animated fadeInLeft">
                  <h1 class="slide-three-header">
                    <strong>Fully</strong>
                    <br>
                    Responsive
                  </h1>
                  <p>
                    <a href="http://www.responsinator.com/?url=demo.flatlogic.com%2F3.0" class="btn btn-white btn-lg" target="_blank">
                      Test It
                    </a>
                  </p>
                </div>
              </div>
              <div class="col-6">
                <p class="animated fadeInUp" style="margin-top: 20px">
                  <img src="assets/img/jpeg/light-blue-phone.png" alt=""/>
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev carousel-control-landing" href="#carousel-landing" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next carousel-control-landing" href="#carousel-landing" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
  </div>
  <div id="about" class="widget widget-white widget-about">
    <div class="container">
      <div class="row">
        <div class="offset-md-1 col-md-10">
          <h2><strong>About Light Blue</strong></h2>
          <p>
            <strong>Light Blue</strong> - is a next generation dashboard template. Flat design and transparency - the
            design that the world haven't seen before Light Blue.
          </p>
          <div class="row features">
            <div class="col-md-4">
              <section class="feature">
                <div class="row">
                  <div class="col-4">
                    <p>
                      <span class="icon background-danger">
                        <i class="fa fa-bold"></i>
                      </span>
                    </p>
                  </div>
                  <div class="col-8">
                    <h4>Bootstrap 4</h4>
                    <p>
                      Light Blue comes with built-in Bootstrap 4 support.
                      Easy to design your next web app.
                    </p>
                  </div>
                </div>
              </section>
            </div>
            <div class="col-md-4">
              <section class="feature">
                <div class="row">
                  <div class="col-4">
                    <p>
                      <span class="icon background-warning">
                        <i class="fa fa-magic"></i>
                      </span>
                    </p>
                  </div>
                  <div class="col-8">
                    <h4>Unique design</h4>
                    <p>
                      Transparent widgets and gradient background - have you seen something like this
                      before?
                    </p>
                  </div>
                </div>
              </section>
            </div>
            <div class="col-md-4">
              <section class="feature">
                <div class="row">
                  <div class="col-4">
                    <p>
                      <span class="icon background-success">
                        <i class="fa fa-wrench"></i>
                      </span>
                    </p>
                  </div>
                  <div class="col-8">
                    <h4>Developer-friendly</h4>
                    <p>
                      Simple, intuitive and easily maintainable code.
                    </p>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div class="row features">
            <div class="col-md-4">
              <section class="feature">
                <div class="row">
                  <div class="col-4">
                    <p>
                      <span class="icon background-primary">
                        <i class="fa fa-superscript"></i>
                      </span>
                    </p>
                  </div>
                  <div class="col-8">
                    <h4>White & Transparent</h4>
                    <p>
                      Two styles each having two background options.
                    </p>
                  </div>
                </div>
              </section>
            </div>
            <div class="col-md-4">
              <section class="feature">
                <div class="row">
                  <div class="col-4">
                    <p>
                      <span class="icon background-lime">
                        <i class="fa fa-check"></i>
                      </span>
                    </p>
                  </div>
                  <div class="col-8">
                    <h4>Web applications</h4>
                    <p>
                      LB itself is a web app. Plus there is an Email -
                      ready-to-use Backbone application.
                    </p>
                  </div>
                </div>
              </section>
            </div>
            <div class="col-md-4">
              <section class="feature">
                <div class="row">
                  <div class="col-4">
                    <p>
                      <span class="icon background-info">
                        <i class="fa fa-css3"></i>
                      </span>
                    </p>
                  </div>
                  <div class="col-8">
                    <h4>Sass-powered</h4>
                    <p>
                      Variables, mixins, includes - things that
                      make Light Blue really easy to customize.
                    </p>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <p class="preview text-center">
        <a href="../white/index.html" class="btn btn-lg btn-danger">
          &nbsp; Preview the White Version &nbsp;
        </a>
      </p>
    </div>
  </div>
  <h2 class="thanks text-center">Thanks for watching!</h2>
  <p class="lead text-center"><a href="#" class="back-to-top"> back to top <i class="fa fa-angle-up"></i></a></p>
</div>
