<div class="row">
  <div class="col-lg-12">
    <h2 class="page-title">Form Elements <small>Inputs, controls and more</small></h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <section widget class="widget">
      <header>
        <h5>
          <i class="fa fa-align-left"></i>
          Inputs
        </h5>
        <div class="widget-controls">
          <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
          <a href="#"><i class="fa fa-refresh"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <form class="form-horizontal" role="form">
          <fieldset>
            <legend class="section">Horizontal form</legend>
            <div class="form-group row">
              <label for="normal-field" class="col-md-4 col-form-label text-md-right">Normal field</label>
              <div class="col-md-7">
                <input type="text" id="normal-field" class="form-control" placeholder="May have placeholder">
              </div>
            </div>
            <div class="form-group row">
              <label for="hint-field" class="col-md-4 col-form-label text-md-right">
                Transparent input
              </label>
              <div class="col-md-7">
                <input type="text" id="transparent-field" class="form-control input-transparent" placeholder="Stylish, huh??">
              </div>
            </div>
            <div class="form-group row">
              <label for="hint-field" class="col-md-4 col-form-label text-md-right">
                Label hint
                <span class="help-block">Some help text</span>
              </label>
              <div class="col-md-7">
                <input type="text" id="hint-field" class="form-control input-transparent">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label text-md-right" for="tooltip-enabled">Tooltip enabled</label>
              <div class="col-md-7">
                <input type="text" id="tooltip-enabled" class="form-control input-transparent"
                       tooltip="Some explanation text here"
                       placeholder="Hover over me..">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label text-md-right" for="disabled-input">Disabled input</label>
              <div class="col-md-7">
                <input type="text" id="disabled-input" class="form-control input-transparent"
                       disabled="disabled" value="Default value" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label text-md-right" for="max-length">Max length</label>
              <div class="col-md-7">
                <input type="text" id="max-length" maxlength="3"
                       class="form-control input-transparent"
                       placeholder="Max length 3 characters"
                       data-placement="top" data-original-title="You cannot write more than 3 characters.">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label text-md-right" for="prepended-input">Prepended input</label>
              <div class="col-md-7">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input id="prepended-input" class="form-control input-transparent" size="16" type="text" placeholder="Username">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label text-md-right" for="password-field">Password</label>
              <div class="col-md-7">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <input type="password" class="form-control input-transparent" id="password-field" placeholder="Password">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label text-md-right" for="appended-input">Appended input</label>
              <div class="col-md-7">
                <div class="input-group">
                  <input id="appended-input" class="form-control input-transparent" size="16" type="text">
                  <span class="input-group-addon">.00</span>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label text-md-right" for="combined-input">Combined</label>
              <div class="col-md-7">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input id="combined-input" class="form-control input-transparent" size="16" type="text">
                  <span class="input-group-addon">.00</span>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label text-md-right" for="transparent-input">
                Append Transparent
              </label>
              <div class="col-md-7">
                <div class="input-group">
                  <input id="transparent-input" class="form-control input-transparent" type="text">
                  <span class="input-group-addon">
                    <i class="fa fa-camera"></i>
                  </span>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-actions">
            <div class="row">
              <div class="offset-md-4 col-md-7">
                <div class="btn-toolbar">
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                  <button type="button" class="btn btn-inverse">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
  <div class="col-lg-6">
    <section widget class="widget">
      <header>
        <h5>
          Prepended and appended inputs
        </h5>
        <div class="widget-controls">
          <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
          <a href="#"><i class="fa fa-refresh"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <form role="form">
          <fieldset>
            <legend class="section">Default Form</legend>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label for="search-input">Search type input</label>
                  <div class="input-group">
                    <input type="search" class="form-control" id="search-input">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-inverse">Search</button>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="bar">Whole bar appended</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="bar">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-danger"><i class="fa fa-pencil"></i></button>
                      <button type="button" class="btn btn-warning"><i class="fa fa-plus"></i></button>
                      <button type="button" class="btn btn-success"><i class="fa fa-refresh"></i></button>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="dropdown-appended">Actions dropdown</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="dropdown-appended">
                    <div class="input-group-btn">
                      <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        Action
                        <i class="fa fa-caret-down"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="type-dropdown-appended">Types dropdown</label>

                  <div class="input-group">
                    <input type="text" class="form-control" id="type-dropdown-appended">
                    <div class="input-group-btn">
                      <select id="phone-type" class="selectpicker"
                              data-style="btn-primary"
                              data-width="auto">
                        <option>Another type</option>
                        <option>Type one</option>
                        <option>Next type</option>
                      </select>
                    </div>
                  </div>
                  <p class="help-block">You can select some type of a field just right in the place.</p>
                </div>
                <div class="form-group">
                  <label for="segmented-dropdown">Segmented dropdown</label>
                  <div class="input-group">
                    <input id="segmented-dropdown" class="form-control" type="text">
                    <div class="input-group-btn">
                      <button class="btn btn-warning" tabindex="-1">Action</button>
                      <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-caret-down"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                  <span class="help-block">Anything can be appended to the right</span>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-actions">
            <div class="btn-toolbar">
              <button type="submit" class="btn btn-inverse">Save Changes</button>
              <button type="button" class="btn btn-default">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <section class="widget" widget>
      <header>
        <h5>
          Form <span class="fw-semi-bold">Options</span>
        </h5>
        <div class="widget-controls">
          <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
          <a href="#"><i class="fa fa-refresh"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <form role="form">
          <fieldset>
            <legend class="section">
              Control sizing
            </legend>
            <p>
              Set input heights using classes like <code>.form-control-lg</code> and <code>.form-control-sm</code>.
              Also works with <code>type="search"</code> inputs and selects.  For input groups use
              <code>.input-group-lg</code> & <code>.input-group-sm</code>.
            </p>
            <br/>
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder=".form-control-lg">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="default input">
            </div>
            <div class="form-group">
              <input type="text" class="form-control form-control-sm" placeholder=".form-control-sm">
            </div>
          </fieldset>
        </form>
      </div>
    </section>
  </div>
  <div class="col-lg-4">
    <section class="widget" widget>
      <header>
        <h5>
          Form <span class="fw-semi-bold">Options</span>
        </h5>
        <div class="widget-controls">
          <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
          <a href="#"><i class="fa fa-refresh"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <form role="form">
          <fieldset>
            <legend class="section">
              Input Groups
            </legend>
            <p>
              Different colors & sizes for any elements including input groups. Elements may be
              easily styled with classes like <code>.bg-primary</code> or <code>.bg-gray-lighter</code>
            </p>
            <br/>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon bg-gray-lighter text-gray-dark"><i class="fa fa-github-alt"></i></span>
                <input class="form-control" size="16" type="text" placeholder="First Name">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-bars"></i></span>
                <input class="form-control input-transparent" size="16" type="text" placeholder="Username">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-sm">
                <input class="form-control" size="16" type="text" placeholder="City">
                <span class="input-group-addon bg-danger text-white"><i class="fa fa-code-fork"></i></span>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <section class="widget" widget>
      <header>
        <h5>
          <i class="fa fa-font"></i>
          Textareas
        </h5>
        <div class="widget-controls">
          <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
          <a href="#"><i class="fa fa-refresh"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <form class="form-horizontal" role="form">
          <fieldset>
            <legend class="section">Condensed form</legend>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="default-textarea">Default textarea</label>
              <div class="col-md-9">
                <textarea rows="4" class="form-control input-transparent" id="default-textarea"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="elastic-textarea">
                Auto-growing textarea
              </label>
              <div class="col-md-9">
                <textarea rows="3" class="autogrow form-control input-transparent transition-height"
                          id="elastic-textarea"
                          autosize
                          placeholder="Try to add few new lines.."></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="wysiwyg">
                Wysiwyg
                <span class="help-block">
                  With bottom toolbar appended
                </span>
              </label>
              <div class="col-md-9 ">
                <alert [type]="'info'">There are no implementations of Wysiwyg editors for Angular 4 yet.
                  Hopefully they are going to appear soon!</alert>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </section>
  </div>
  <div class="col-lg-6">
    <section class="widget" widget>
      <header>
        <h5>
          <i class="fa fa-list-alt"></i>
          Selects
        </h5>
        <div class="widget-controls">
          <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
          <a href="#"><i class="fa fa-refresh"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <form class="form-horizontal form-label-left" role="form">
          <fieldset>
            <legend class="section">Default form with labels on left</legend>
            <div class="form-group row">
              <label class="control-label col-form-label col-md-4" for="default-select">Default select</label>
              <div class="controls col-md-8">
                <select2 id="default-select"
                         class="select-block-level chzn-select"
                         [data]="getSelect2GalaxyList()" [width]="'100%'" [options]="{theme: 'bootstrap'}">
                </select2>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-form-label col-md-4" for="search-select">Select with search</label>
              <div class="controls col-md-8">
                <select2 id="search-select"
                         class="select-block-level chzn-select"
                         [data]="getSelect2CountryList()" [width]="'100%'" [options]="{theme: 'bootstrap'}">
                </select2>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-form-label col-md-4" for="multiple-select">
                Multiple select
                <span class="help-block">
                  Search enabled
                </span>
              </label>
              <div class="controls col-md-8">
                <select2 id="multiple-select"
                         class="select-block-level chzn-select"
                         [data]="getSelect2CountryList()" [width]="'100%'" [options]="{theme: 'bootstrap', multiple: true}">
                </select2>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-form-label col-md-4" for="grouped">Select with groups</label>
              <div class="controls col-md-8">
                <select2 id="grouped"
                         class="select-block-level chzn-select"
                         [data]="getSelect2GroupedList()" [width]="'100%'" [options]="{theme: 'bootstrap'}">
                </select2>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend class="section">Dropdown based colored selects</legend>
            <div class="form-group row">
              <label class="col-md-4  col-form-label" for="simple-select">Simple select</label>
              <div class="col-md-8">
                <select class="selectpicker" data-style="btn-secondary"
                        data-width="auto"
                        tabindex="-1" id="simple-select">
                  <option value="0">Option One</option>
                  <option value="1">Option Two</option>
                  <option value="2">Option Three</option>
                </select>
                <span class="help-block">Auto size</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4  col-form-label" for="simple-red-select">
                Colored ones
                <span class="help-block">
                  A bit of Japanese
                </span>
              </label>
              <div class="col-md-8 ">
                <select class="selectpicker"
                        data-style="btn-danger btn-sm"
                        data-width="auto"
                        tabindex="-1" id="simple-red-select">
                  <option value="0">Ichi</option>
                  <option value="1">Ni</option>
                  <option value="2">San</option>
                </select>
                <select class="selectpicker"
                        data-style="btn-warning btn-sm"
                        data-width="auto"
                        tabindex="-1" id="simple-orange-select">
                  <option value="0">Shi</option>
                  <option value="1">Go</option>
                  <option value="2">Roku</option>
                </select>
                <select class="selectpicker"
                        data-style="btn-success btn-sm"
                        data-width="auto"
                        tabindex="-1" id="simple-green-select">
                  <option value="0">Hichi</option>
                  <option value="1">Hachi</option>
                  <option value="2">Ku</option>
                  <option value="3">Ju</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4  col-form-label" for="simple-big-select">
                Big One
                <span class="help-block">
                  Size can be controlled with <code>.btn-lg</code> & <code>.btn-sm</code>
                </span>
              </label>
              <div class="col-md-8 ">
                <select class="selectpicker"
                        data-style="btn-secondary btn-lg"
                        tabindex="-1" id="simple-big-select">
                  <option value="0">Fourth Item</option>
                  <option value="1">Fifth Item</option>
                  <option value="2">Sixth item</option>
                </select>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <section class="widget checkbox-controls-widget" widget>
      <header>
        <h5>
          Checkbox <strong>Controls</strong>
        </h5>
        <div class="widget-controls">
          <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
          <a href="#"><i class="fa fa-refresh"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <form role="form">
          <div class="row">
            <div class="col-md-4">
              <fieldset>
                <legend class="section">
                  Basic
                </legend>
                <p>
                  Supports bootstrap brand colors: <code>.abc-checkbox-primary</code>, <code>.abc-checkbox-info</code> etc.
                  Pure <abbr title="Cascading Style Sheet">css</abbr> solution with no javascript.
                  Let your checkboxes shine!
                </p>
                <div class="abc-checkbox">
                  <input id="checkbox1" type="checkbox">
                  <label for="checkbox1">
                    Default
                  </label>
                </div>
                <div class="abc-checkbox abc-checkbox-primary">
                  <input id="checkbox2" type="checkbox" checked>
                  <label for="checkbox2">
                    Primary
                  </label>
                </div>
                <div class="abc-checkbox abc-checkbox-success">
                  <input id="checkbox3" type="checkbox">
                  <label for="checkbox3">
                    Success
                  </label>
                </div>
                <div class="abc-checkbox abc-checkbox-info">
                  <input id="checkbox4" type="checkbox" checked>
                  <label for="checkbox4">
                    Info
                  </label>
                </div>
                <div class="abc-checkbox abc-checkbox-warning">
                  <input id="checkbox5" type="checkbox">
                  <label for="checkbox5">
                    Warning
                  </label>
                </div>
                <div class="abc-checkbox abc-checkbox-danger">
                  <input id="checkbox6" type="checkbox" checked>
                  <label for="checkbox6">
                    Check me out
                  </label>
                </div>
              </fieldset>
            </div>
            <div class="col-md-4">
              <fieldset>
                <legend class="section">
                  Circled
                </legend>
                <p>
                  <code>.abc-checkbox-circle</code> for roundness. No more sad controls controls.
                  Check out this brand-new rounded checkboxes!
                </p>
                <div class="abc-checkbox abc-checkbox-circle">
                  <input id="checkbox7" type="checkbox">
                  <label for="checkbox7">
                    Simply Rounded
                  </label>
                </div>
                <div class="abc-checkbox abc-checkbox-info abc-checkbox-circle">
                  <input id="checkbox8" type="checkbox" checked>
                  <label for="checkbox8">
                    Me too
                  </label>
                </div>
              </fieldset>
            </div>
            <div class="col-md-4">
              <fieldset>
                <legend class="section">
                  Disabled
                </legend>
                <p>
                  Disabled state also supported. Full stack checkbox functionality.
                </p>
                <div class="abc-checkbox">
                  <input id="checkbox9" type="checkbox" disabled>
                  <label for="checkbox9">
                    Can't check this
                  </label>
                </div>
                <div class="abc-checkbox abc-checkbox-success">
                  <input id="checkbox10" type="checkbox" disabled checked>
                  <label for="checkbox10">
                    This too
                  </label>
                </div>
                <div class="abc-checkbox abc-checkbox-warning abc-checkbox-circle">
                  <input id="checkbox11" type="checkbox" disabled checked>
                  <label for="checkbox11">
                    And this
                  </label>
                </div>
              </fieldset>
            </div>
          </div>
          <p class="fs-mini">Built with <a href="https://github.com/okendoken/awesome-bootstrap-checkbox" target="_blank">awesome-bootstrap-checkbox</a>.</p>
        </form>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <section class="widget radio-controls-widget" widget>
      <header>
        <h5>
          Radio <strong>Controls</strong>
        </h5>
        <div class="widget-controls" widget>
          <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
          <a href="#"><i class="fa fa-refresh"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <form role="form">
          <div class="row">
            <div class="col-lg-4">
              <fieldset>
                <legend class="section">
                  Basic
                </legend>
                <p>
                  Supports bootstrap brand colors: <code>.radio-primary</code>, <code>.radio-danger</code> etc.
                  Pure css solution with no javascript. Let your radios shine!
                </p>
                <div class="row">
                  <div class="col-md-6">
                    <div class="abc-radio">
                      <input type="radio" name="radio1" id="radio1" value="option1" checked>
                      <label for="radio1">
                        Small
                      </label>
                    </div>
                    <div class="abc-radio">
                      <input type="radio" name="radio1" id="radio2" value="option2">
                      <label for="radio2">
                        Big
                      </label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="abc-radio abc-radio-danger">
                      <input type="radio" name="radio2" id="radio3" value="option1">
                      <label for="radio3">
                        Next
                      </label>
                    </div>
                    <div class="abc-radio abc-radio-danger">
                      <input type="radio" name="radio2" id="radio4" value="option2" checked>
                      <label for="radio4">
                        One
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="col-lg-4">
              <fieldset>
                <legend class="section">
                  Disabled
                </legend>
                <p>
                  Disabled state also supported. Full stack radios functionality.
                </p>
                <div class="abc-radio">
                  <input type="radio" name="radio3" id="radio5" value="option1" disabled>
                  <label for="radio5">
                    Next
                  </label>
                </div>
                <div class="abc-radio abc-radio-warning">
                  <input type="radio" name="radio3" id="radio6" value="option2" checked disabled>
                  <label for="radio6">
                    One
                  </label>
                </div>
              </fieldset>
            </div>
            <div class="col-lg-4">
              <fieldset>
                <legend class="section">
                  Cool iOS-like switches
                </legend>
                <p>
                  Simple component that helps you turn your default HTML checkbox inputs into
                  beautiful iOS 7 style switches in just few simple steps.
                </p>
                <div class="display-inline-block checkbox-ios">
                  <label for="checkbox-ios1" class="switch">
                    <input type="checkbox" class="ios" checked id="checkbox-ios1"><i></i>
                  </label>
                </div>
                <div class="display-inline-block checkbox-ios ml">
                  <label for="checkbox-ios2" class="switch">
                    <input type="checkbox" class="ios" id="checkbox-ios2"><i></i>
                  </label>
                </div>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <section class="widget" widget>
      <header>
        <h5>
          Pickers
        </h5>
        <div class="widget-controls" widget>
          <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
          <a href="#"><i class="fa fa-refresh"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <form role="form">
          <fieldset>
            <legend class="section">
              Date & Time
            </legend>
            <div class="form-group">
              <label for="datetimepicker2i">
                Time-enabled
                <span class="help-block">
                    Can be customized for both 24 hour and 12 hour clocks.
                </span>
              </label>
              <datetime [(ngModel)]="date" name="datetime" id="datetimepicker2i"></datetime>
            </div>
          </fieldset>
          <fieldset>
            <legend class="section">
              Colors
            </legend>
            <div class="form-group">
              <label for="colorpickeri">
                Simple select
                <span class="help-block">
                  Colorpicker plugin for Twitter Bootstrap, originally written by Stefan Petre
                </span>
              </label>
              <div id="colorpicker" class="input-group">
                <input type="text" value="" class="form-control" id="colorpickeri"/>
                <span class="input-group-addon"><i></i></span>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </section>
  </div>
  <div class="col-lg-6">
    <section class="widget" widget>
      <header>
        <h5>
          Input <strong>Masks</strong>
        </h5>
        <div class="widget-controls">
          <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
          <a href="#"><i class="fa fa-refresh"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <form role="form" class="form-horizontal form-label-left">
          <fieldset>
            <legend class="section">
              Masked inputs
            </legend>
            <div class="form-group row">
              <label class="form-control-label col-md-4" for="mask-phone">
                Phone
                <span class="help-block">(123) 456-7890</span>
              </label>
              <div class="col-md-7">
                <input id="mask-phone" type="text" data-mask="(999) 999-9999"  class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="form-control-label col-md-4" for="mask-int-phone">
                International Phone
                <span class="help-block">+375 123 456 789</span>
              </label>
              <div class="col-md-7">
                <input id="mask-int-phone" type="text" data-mask="+999 999 999 999" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="form-control-label col-md-4" for="mask-date">
                Date Format
                <span class="help-block">07-03-2013</span>
              </label>
              <div class="col-md-7">
                <input id="mask-date" type="text" class="form-control" data-mask="99-99-9999">
              </div>
            </div>
            <div class="form-group row">
              <label class="form-control-label col-md-4" for="mask-time">
                Time
                <span class="help-block">13:43</span>
              </label>
              <div class="col-md-7">
                <input id="mask-time" type="text" data-mask="99:99" class="form-control">
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <section class="widget" widget>
      <header>
        <h5>
          Sliders
        </h5>
        <div class="widget-controls">
          <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
          <a href="#"><i class="fa fa-refresh"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <div class="row">
          <div class="col-lg-4">
            <h4>Color Options</h4>
            <p>LetIt extends Bootstrap Slider and provides different color options:</p>
            <form>
              <div class="mb-sm">
                <input class="js-slider" id="slider-ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
              </div>
              <div class="slider-danger mb-sm">
                <input class="js-slider" id="slider-ex2" data-slider-id='ex2Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="18"/>
              </div>
              <div class="slider-warning mb-sm">
                <input class="js-slider" id="slider-ex3" data-slider-id='ex3Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="7"/>
              </div>
              <div class="slider-success mb-sm">
                <input class="js-slider" id="slider-ex4" data-slider-id='ex4Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="11"/>
              </div>
              <div class="slider-inverse mb-sm">
                <input class="js-slider" id="slider-ex5" data-slider-id='ex5Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="4"/>
              </div>
            </form>
          </div>
          <div class="col-lg-4">
            <h4>Slider Orientation</h4>
            <p>Vertical orientation is also possible. Simply changing <strong>data-slider-orientation</strong>
              attribute does the thing.</p>
            <form>
              <div class="row">
                <div class="col-md-8 offset-md-2">
                  <span class="">
                    <input class="js-slider" id="slider-ex6" data-slider-orientation="vertical" data-slider-id='ex6Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
                  </span>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <span class="slider-inverse">
                    <input class="js-slider" id="slider-ex7" data-slider-orientation="vertical" data-slider-id='ex7Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="18"/>
                  </span>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <span class="">
                    <input class="js-slider" id="slider-ex8" data-slider-orientation="vertical" data-slider-id='ex8Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="7"/>
                  </span>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <span class="slider-inverse">
                    <input class="js-slider" id="slider-ex9" data-slider-orientation="vertical" data-slider-id='ex9Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="11"/>
                  </span>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <span class="">
                    <input class="js-slider" id="slider-ex10" data-slider-orientation="vertical" data-slider-id='ex10Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="4"/>
                  </span>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-4">
            <h4>Range Selector</h4>
            <p>Range selector, options specified via <strong>data-slider-value</strong> attribute as
              an array. Price range selector:</p>
            <form>
              <span class="slider-warning">
                <input class="js-slider" id="slider-ex11" data-slider-id='ex11Slider'
                       type="text" data-slider-min="0" data-slider-max="2000"
                       data-slider-step="1" data-slider-value="[200,1547]"/>
              </span>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
