<div class="single-widget-container">
  <section widget class="widget login-widget">
    <header class="text-center">
      <h4>Login to your account</h4>
    </header>
    <div class="widget-body">
      <form class="no-margin"
            action="index.html" method="get">
        <fieldset class="login-form">
          <div class="form-group">
            <label for="email" >Email</label>
            <div class="input-group input-group-lg">
              <span class="input-group-addon">
                <i class="fa fa-user"></i>
              </span>
              <input id="email" type="email" class="form-control input-lg input-transparent"
                     placeholder="Your Email">
            </div>
          </div>
          <div class="form-group">
            <label for="password" >Password</label>

            <div class="input-group input-group-lg">
              <span class="input-group-addon">
                <i class="fa fa-lock"></i>
              </span>
              <input id="password" type="password" class="form-control input-lg input-transparent"
                     placeholder="Your Password">
            </div>
          </div>
        </fieldset>
        <div class="form-actions">
          <button routerLink="/app/dashboard" type="submit" class="btn btn-lg btn-block btn-danger">
            <span class="small-circle"><i class="fa fa-caret-right"></i></span>
            <small>Sign In</small>
          </button>
          <a class="forgot" href="#">Forgot Username or Password?</a>
        </div>
      </form>
    </div>
    <footer>
      <div class="facebook-login">
        <a routerLink="/app/dashboard"><span><i class="fa fa-facebook-square fa-lg"></i> LogIn with Facebook</span></a>
      </div>
    </footer>
  </section>
</div>
