/***************************/
/*         Reset           */
/***************************/

a:focus{
  outline: none;
}

/***************************/
/*          Type           */
/***************************/

ul, ol {
  margin: 0;
}

hr {
  border-top: none;
}

blockquote{
  border-width: 5px;

  &.blockquote-sm{
    padding: 0 0 0 15px;
    font-size: $font-size-base;
  }
  p{
    font-size: inherit;
    margin-bottom: $line-height-computed / 2;
  }
}

h1 { font-size: $font-size-base * 2.75; } // ~38px
h2 { font-size: $font-size-base * 2.25; } // ~32px
h3 { font-size: $font-size-base * 1.75; } // ~24px
h4 { font-size: $font-size-base * 1.25; } // ~18px
h5 { font-size: $font-size-base; }
h6 { font-size: $font-size-base * 0.85; } // ~12px

h1 small { font-size: $font-size-base * 1.75; } // ~24px
h2 small { font-size: $font-size-base * 1.25; } // ~18px
h3 small { font-size: $font-size-base; }
h4 small { font-size: $font-size-base; }

small, .small {
  font-size: 92%;
}

.text-primary        { color: $brand-primary; }
.text-warning        { color: $brand-warning; }
.text-danger         { color: $brand-danger; }
.text-success        { color: $brand-success; }
.text-info           { color: $brand-info; }

@media (min-width: 768px) {
  .lead {
    font-size: 16px;
  }
}

/***************************/
/*         Code            */
/***************************/

code,
pre {
  border-radius: $border-radius-base;
}

pre {
  display: block;
  padding: (($line-height-computed) / 2);
  margin: 0 0 9px;
  line-height: $line-height-base;
  word-break: break-all;
  word-wrap: break-word;
  color: $pre-color;
  background-color: $pre-bg;
  border: 1px solid $pre-border-color;
  border-radius: $border-radius-base;

  // Account for some code outputs that place code tags in pre tags
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
  }
}


/***************************/
/*         Grid           */
/***************************/

.row {
  box-sizing: border-box;
}

.container {
  position: static;
}

/***************************/
/*         Forms           */
/***************************/

label,
input,
button,
select,
textarea {
  font-weight: $font-weight-base;
}

legend small{
  color: $text-muted;
  font-size: 14px;
}

textarea.form-control {
  height: auto;
}

.form-control{
  transition: border linear .2s, box-shadow linear .2s;
  box-sizing: border-box;
  height: $input-height;

  &.form-control-lg {
    height: $input-height-lg;
  }

  &.form-control-sm {
    height: $input-height-sm;
  }

  &[type=search], &.search{
    padding-left: 26px;
  }
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;
}

.input-group-btn > .btn, .btn-group > .btn {
  z-index: 3;
  height: 100%;
}

.input-group-btn:not(:first-child) > .btn, .input-group-btn:not(:first-child) > .btn-group {
  z-index: 3;
}

.input-group-btn > .btn-group {
  height: 100%;
}

/*adding .btn-group here because selectpicker's select become .btn-group
  need some more vertical space*/
.btn-group,
input,
select,
textarea,
.uneditable-input,
.input-prepend,
.input-append {
  + .help-block {
    margin-top: $line-height-computed / 4;
  }
}

.help-block {
  margin-top: 0;
  font-size: $font-size-smaller;
  color: $text-muted;
  display: block;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $line-height-computed;
  line-height: inherit;
  color: $legend-color;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  font-size: 19.5px;
  font-weight: $font-weight-normal;
}

.search-query, .navbar-form .search-query{
  border-radius: $border-radius-base;
  line-height: $line-height-computed;
}

.form-horizontal{
  input,
  select,
  textarea,
  .uneditable-input,
  .input-prepend,
  .input-append {
    + .help-block {
      margin-top: $line-height-computed / 4;
    }
  }
}

.form-group{
  margin-bottom: $form-group-margin-bottom;   //~18px
}

.form-horizontal.form-label-left {
  @include media-breakpoint-up(sm) {
    .control-label {
      text-align: left;
    }
  }
}

/***************************/
/*      Input Groups       */
/***************************/
.input-group-btn {
  flex-direction: row;
}

.input-group-addon {
  color: $text-muted;

  .input-group-lg & > *{
    line-height: $line-height-lg;
  }

  .input-group-sm & > *{
    line-height: $line-height-sm;
  }
}

.form-inline .input-group-addon {
  display: table-cell;
}

/***************************/
/*        Tables        */
/***************************/

.table .table{
  background-color: $bg-addition;
}

.table-hover {
  tbody {
    td, th{
      @include transition(background-color .2s);
    }
  }
}

.table.table-striped,
.table.table-hover {
  thead > tr > th,
  tfoot > tr > td{
    border-top: none;
  }
}

.table thead > tr > th{
  border-bottom: none;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom-width: 1px;
}

.table td > .abc-checkbox,
.table th > .abc-checkbox{
  position: relative;
  left: 3px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  width: 5px;
  > label:before,
  > label:after{
    margin-left: 0;
  }
}

.table > thead > tr > th{
  font-weight: $font-weight-semi-bold;
  text-transform: uppercase;
  border-bottom-width: 1px;
}

.table-lg {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: 10px;
      }
    }
  }
}

.table-sm {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: 6px;
      }
    }
  }
}


/***************************/
/*        Dropdowns        */
/***************************/

.dropdown.open {
  .dropdown-menu {
    display: block;
  }
}

button.dropdown-toggle{
  &:after {
    content: none;
  }
  i {
    margin-left: 3px;
  }
}

.dropdown-menu{
  border-radius: $border-radius-lg;
}

.dropdown-menu > li > a {
  font-weight: $font-weight-base;
}

.dropdown .dropdown-item {
  width: auto;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top:   4px dashed;
  border-top:   4px solid \9; // IE8
  border-right: 4px solid transparent;
  border-left:  4px solid transparent;
}

/***************************/
/*      Buttons            */
/***************************/

.btn:focus, .btn.focus, .btn.active.focus {
  outline: none;
}

.btn{
  color: $white;
  text-shadow: none;

  @include box-shadow(none);

  &:hover,
  &:focus {
    color: $white;
    @include box-shadow(inset 0 1px 5px rgba(0, 0, 0, 0.08));
  }

  &.active:hover{
    color: $white;
    @include box-shadow(inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05));
  }

  &.disabled,
  &[disabled] {
    color: $white;
  }

  .caret{
    border-top-color: #fff;
  }
}

.btn-sm {
  line-height: 18px;  //TODO: Change after $line-height-computed is recalculated
}

.btn-xs {
  padding: 0 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}

.btn-secondary:focus,
.btn-secondary.focus {
  box-shadow: none;
}

.btn, .btn-inverse, .btn-gray {
  &:not(.active) {
    box-shadow: none !important;
  }
}

.btn-block {
  box-sizing: border-box;
}

/***************************/
/*      Button Groups      */
/***************************/

.btn-group > .btn + .btn {
  margin-left: 0;
}

.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: auto;
}

.btn-group > .btn + .dropdown-toggle {
  @include box-shadow(none);
}

.btn-toolbar {
  font-size: 0; // Hack to remove whitespace that results from using inline-block
  margin-top: $line-height-base / 2;
  margin-bottom: $line-height-base / 2;
  > .btn + .btn,
  > .btn-group + .btn,
  > .btn + .btn-group {
    margin-left: 5px;
  }
}

/***************************/
/*        TABBABLE         */
/***************************/
// copied from bs2


// COMMON STYLES
// -------------

// Clear any floats
.tabbable {
  @include clearfix();
}
.tab-content {
  overflow: auto; // prevent content from running below tabs
}

// Remove border on bottom, left, right
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

// Show/hide tabbable areas
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}


// BOTTOM
// ------

.tabs-below > .nav-tabs > .nav-item {
  margin-top: 0;
  margin-bottom: 0;
}
.tabs-below > .nav-tabs > li > a {
  border-radius: 0 0 $border-radius-base $border-radius-base;
  &:hover,
  &:focus {
    border-bottom-color: transparent;
    border-top-color: #ddd;
  }
}
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: $nav-tabs-active-item-border;
  border-top-color: $nav-tabs-active-item-border-bottom;
}

// LEFT & RIGHT
// ------------

// Common styles
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

// Tabs on the left
.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}
.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  border-radius: $border-radius-base 0 0 $border-radius-base;
}
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: $gray-lighter #ddd $gray-lighter $gray-lighter;
}
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
}

// Tabs on the right
.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}
.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  border-radius: 0 $border-radius-base $border-radius-base 0;
}
.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: $gray-lighter $gray-lighter $gray-lighter #ddd;
}
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
}

/***************************/
/*          Navs           */
/***************************/

.nav {
  margin-bottom: 0;

  .open > a {
    &,
    &:hover,
    &:focus {
      background-color: $nav-link-hover-bg;
      border-color: transparent;
    }
  }
}

.nav > li > a{
  @include transition(background-color .2s);
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus{
  background-color: rgba($widget-bg-common, .25);
}

.nav-tabs > .nav-item > .nav-link {
  border-radius: $border-radius-base $border-radius-base 0 0;
  color: $nav-tabs-link-color;
  padding-top: 8px;
  padding-bottom: 8px;
  &:hover,
  &:focus {
    border-color: transparent;
  }
}

.nav-tabs .nav-item + .nav-item {
  margin-left: 2px;
}

.nav-tabs > .nav-item {
  box-sizing: border-box;
  margin-bottom: 0;
}

.nav-tabs{
  border-bottom: $nav-tabs-border;
}

.nav-tabs > .nav-item > .nav-link.active,
.nav-tabs > .nav-item > .nav-link.active:hover,
.nav-tabs > .nav-item > .nav-link.active:focus,
.nav-tabs > .nav-item > .nav-link:hover,
.nav-tabs > .nav-item > .nav-link:focus{
  color: $widget-color;
  background: $nav-tabs-tab-content-bg;
  border-color: $nav-tabs-active-item-border;
  border-bottom-color: $nav-tabs-active-item-border-bottom;
}

.nav-tabs > .nav-item > .nav-link.active {
  cursor: default;
}

.nav-tabs .dropdown-menu {
  border-radius: 0 0 $border-radius-base $border-radius-base; // remove the top rounded corners here since there is a hard edge above the menu
}
.nav-tabs .nav-item.dropdown > .nav-link, .nav-tabs .nav-item.dropdown.open > .nav-link {
  border: 1px solid $nav-tabs-border-color;
  color: $widget-color;

  &:after {
    display: none;
  }
}

.nav-tabs > .nav-item.dropdown.open {
  background: none;
  border-color: $nav-tabs-border-color;

  & > .nav-link {
    background-color: $nav-tabs-tab-content-bg;
  }
}

.nav-pills .dropdown-menu {
  border-radius: $border-radius-base; // make rounded corners match the pills
}
.tabs-below > .nav-tabs {
  border-top: $nav-tabs-border;
}

.tabs-below > .nav-tabs > .nav-item > .nav-link {
  border-radius: 0 0 $border-radius-base $border-radius-base;
}

.tabs-left > .nav-tabs {
  margin-right: 0;
  border-right: $nav-tabs-border;
}

.tabs-left > .nav-tabs > .nav-item > .nav-link {
  border-radius: $border-radius-base 0 0 $border-radius-base;
}

.tabs-right > .nav-tabs {
  margin-left: 0;
  border-left: $nav-tabs-border;
}
.tabs-right > .nav-tabs > .nav-item > .nav-link {
  border-radius: 0 $border-radius-base $border-radius-base 0;
}

.tabs-below > .nav-tabs > .nan-item > .nav-link {
  &:hover,
  &:focus {
    border-top-color: transparent;
  }
}
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  //  border-color: transparent;
}

.tabs-left > .nav-tabs > .nav-item {
  margin-bottom: 0;
  margin-left: 0;
}

.tabs-left > .nav-tabs > .nav-item > .nav-link {
  margin-right: 0;
  margin-bottom: 3px;
}
.tabs-left > .nav-tabs > .nav-item > .nav-link:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: transparent;
}
.tabs-left > .nav-tabs .active > .nav-link,
.tabs-left > .nav-tabs .active > .nav-link:hover,
.tabs-left > .nav-tabs .active > .nav-link:focus {
  border-color: $nav-tabs-active-item-border;
  border-right-color: $nav-tabs-active-item-border-bottom;
}

.tabs-left > .nav-tabs .active{
  margin-right: 0;
}

.tabs-right > .nav-tabs .active{
  margin-left: 0;
}

.tabs-right > .nav-tabs > .nav-item > .nav-link {
  margin-left: 0;
  margin-bottom: 3px;
}

.tabs-right > .nav-tabs > .nav-item {
  margin-left: 0;
  margin-bottom: 0;
}

.tabs-right > .nav-tabs > .nav-item > .nav-link:hover,
.tabs-right > .nav-tabs > .nav-item > .nav-link:focus {
  border-color: transparent;
}
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: $nav-tabs-active-item-border;
  border-left-color: $nav-tabs-active-item-border-bottom;
}

.nav-pills > li > a {
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: $border-radius-base;
  background: $bg-addition;
}

.nav-pills .nav-link {
  padding: 0.8em 1.1em;
}

// Active state
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.nav-pills > li > a.nav-link.active,
.nav-pills > li > a.nav-link.active:hover,
.nav-pills > li > a.nav-link.active:focus{
  color: $widget-header-color;
  background: none;
}

.nav-justified > li {
  padding: 0 1.28%;
}

/***************************/
/*         Navbars         */
/***************************/

.navbar{
  margin: 0;

  .btn-navbar {
    border: none;
    @include box-shadow(none);
  }
}

// Active nav items
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  background: none;
  @include box-shadow(none);
}

.navbar-nav {
  margin: ($navbar-padding-y / 2) -$navbar-padding-x;

  > li > a {
    padding-top:    10px;
    padding-bottom: 10px;
    line-height: $line-height-computed;
  }

  @include media-breakpoint-up(xs) {
    //@media (max-width: $screen-xs-max) {
    // Dropdowns get custom display when collapsed
    .open .dropdown-menu {
      position: absolute;
      float: left;
      margin: 2px 0 0;
      background-color: $popover-bg;
      border: 0;
      box-shadow: none;
    }
  }
}

/***************************/
/*       Breadcrumbs       */
/***************************/

.breadcrumb{
  a{
    color: $breadcrumb-color;
    text-decoration: none;
    &:hover{
      color: $breadcrumb-active-color;
    }
  }

  .content > &{
    padding-left: 0;
    padding-right: 0;
    margin-top: 11px;
    margin-bottom: 9px;
  }
}

/***************************/
/*        Pagination       */
/***************************/
.pagination{
  font-weight: $font-weight-normal;

  > li {
    display: inline; // Remove list-style and block-level defaults
    > a,
    > span{
      border-radius: $border-radius-base;
      margin: 0 2px;
    }
  }

  .page-item.disabled .page-link,
  .page-item.disabled .page-link:focus,
  .page-item.disabled .page-link:hover {
    color: $gray-semi-lighter;
  }

  .page-link {
    border: none;

    &:hover {
      text-decoration: none;
    }
  }
}

/***************************/
/*         Modals          */
/***************************/

.modal {
  color: $gray-dark;
  border-radius: $border-radius-base;

  h1,h2,h3,h4,h5,h6{
    color: $gray-dark;
  }
}

.modal-footer{
  background-color: #f5f5f5;
}

/***************************/
/*        Tooltips         */
/***************************/

.tooltip {
  font-size: $font-size-small;

  &.in {
    opacity: 1;
  }
}

.tooltip-inner {
  padding: 4px;
  white-space: nowrap;
}

/***************************/
/*        Popovers         */
/***************************/

.popover {
  color: $text-color;
  border-radius: $border-radius-base;
  h1,h2,h3,h4,h5,h6{
    color: $text-color;
  }
}

.popover-title {
  border-radius: $border-radius-base $border-radius-base 0 0;
}

/***************************/
/*       Thumbnails        */
/***************************/

.img-thumbnail {
  border: $img-thumbnail-border;
  background-color: $img-thumbnail-bg;
  box-shadow: none;
  padding: $img-thumbnail-padding;

  .widget &{
    border: $img-thumbnail-border;
  }
}

.img-thumbnail .caption {
  color: $widget-color;
}

/***************************/
/*       Cards        */
/***************************/

.card {
  background-color: $widget-bg;
  color: $widget-color;
  border: none;
  padding: $card-padding;
}

.card-title {
  margin-top: $card-spacer-y;
}

.card-img-top {
  width: 100%;
  max-width: 300px;
  height: 200px;
}


/***************************/
/*    Labels and badges    */
/***************************/

.label,
.badge {
  display: inline-block;
  padding: 2px 4px;
  line-height: 14px; // ensure proper line-height if floated
  text-shadow: none;
  font-weight: $font-weight-semi-bold;
  font-size: 11px;
}

.badge-pill {
  padding: 2px 8px;
}

.badge-default {
  @include badge-variant($badge-default-bg);
}

.badge-primary {
  @include badge-variant($badge-primary-bg);
}

.badge-success {
  @include badge-variant($badge-success-bg);
}

.badge-info {
  @include badge-variant($badge-info-bg);
}

.badge-warning {
  @include badge-variant($badge-warning-bg);
}

.badge-danger {
  @include badge-variant($badge-danger-bg);
}

.badge-important{
  @include badge-variant($badge-danger-bg);
}

.label-inverse{
  @include badge-variant($badge-default-bg);
}

/***************************/
/*        Jumbotron        */
/***************************/

.jumbotron{
  .widget > &{
    margin: (-$widget-padding-vertical) (-$widget-padding-horizontal);
  }

  h1, .h1{
    line-height: 1;
  }

  padding-left: 60px;
  padding-right: 60px;

  @include media-breakpoint-up (md) {

    .container &,
    .container-fluid & {
      padding-left:  ($jumbotron-padding * 2);
      padding-right: ($jumbotron-padding * 2);
    }

    h1,
    .h1 {
      font-size: 59px;
    }
  }

  p {
    font-size: 20px;
  }
}

/***************************/
/*          Alerts         */
/***************************/

.alert {
  text-shadow: none;
  font-weight: normal;
}

.close{
  @include transition(opacity .2s ease-out);
  text-shadow: none;
}

.alert-sm{
  padding: 10px 12px;
  font-size: $font-size-small;

  .close{
    font-size: 18px;
  }
}


/***************************/
/*        List Groups      */
/***************************/

.list-group{
  margin-bottom: 0;
  .widget > &{
    margin: (-$widget-padding-vertical) (-$widget-padding-horizontal);
  }
  .widget .widget-body > &{
    margin: 0 (-$widget-padding-horizontal) (-$widget-padding-vertical);

    .list-group-item:first-child{
      border-top: 1px solid $bg-addition;
    }
  }
}

.list-group-item{
  border: none;
  @include transition(background-color .2s ease-out);
  color: $widget-color;

  .widget &{
    background: none;
    + .list-group-item{
      border-top: 1px solid $bg-addition;
    }
  }

  .list-group-outer &{
    + .list-group-item{
      margin-top: 10px;
    }
  }

  > .fa-chevron-right{
    margin-top: 3px;
    margin-left: 6px;
    color: darken($text-color, 5%);
  }
}
.list-group-item{

  .list-group-lg & {
    padding: 15px 15px;
  }

  .list-group:last-of-type &:last-child{
    border-bottom: 0;
  }
}


/***************************/
/*         Progress        */
/***************************/

.progress {
  border-radius: 0.25rem;
  height: auto;
  background: rgba(black, .15);
  margin-bottom: $form-group-margin-bottom;
  box-shadow: $progress-box-shadow;

  .progress-bar {
    font-size: 1rem;
    transition: width 0.4s ease-in-out;
    box-shadow: $progress-value-box-shadow;

    &.progress-sm {
      height: $progress-height-sm;
    }

    &.progress-xs {
      height: $progress-height-xs;
    }
  }
  @include progress-variant($brand-primary);
}

@include bg-variant('.bg-success', $brand-success);
@include bg-variant('.bg-info', $brand-info);
@include bg-variant('.bg-warning', $brand-warning);
@include bg-variant('.bg-danger', $brand-danger);
@include bg-variant('.bg-inverse', $widget-color);

.bg-inverse {
  color: $widget-bg-common;
}

/***************************/
/*          Panels         */
/***************************/

.panel-heading {
  padding: 0;

  .accordion-toggle{
    display: block;
    padding: 8px 15px;

    > div {
      font-size: $font-size-base;
    }
  }
}

.panel-group {
  .panel {
    border-radius: 3px;
  }

  .panel-open .panel-heading .accordion-toggle{
    color: $widget-color;
    &:before {
     transform: rotate(-90deg);
    }
  }

  .panel-heading {
    background: transparent;
    border-bottom: none;
    + .panel-collapse .panel-body {
      border-top: 1px solid $bg-addition;
    }

    .accordion-toggle {
      display: block;
      line-height: $line-height-base;
      color: $panel-opened-color;

      &:hover {
        text-decoration: underline;
      }

      &:before {
        display: inline-block;
        font-family: FontAwesome;
        content: "\f104";
        float: right;
        font-size: $font-size-base;
        margin-right: -8px;
        position: relative;
        top: 1px;
        transition: transform 0.3s ease-in-out;
      }
    }

    .panel-title {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
  .panel-footer {
    + .panel-collapse .panel-body {
      border-bottom: 1px solid $bg-addition;
    }
  }

  .panel +.panel, accordion-group + accordion-group .panel {
    margin-top: $panel-mt;
  }
}

.panel{
  border: none;
  background-color: $widget-bg;
  @include box-shadow(none);

  .content &{
    color: $widget-color;
  }

  .panel-heading a{
    color: $widget-header-color;
    font-weight: $font-weight-base;

    &:focus{
      text-decoration: none;
    }
    &.collapsed{
      color: $text-muted;
    }

    &[data-toggle="collapse"]{
      &:before{
        display: inline-block;
        font-family: FontAwesome;
        content: "\f107";
        float: right;
        margin-right: -8px;
        position: relative;
        top: 1px;
        @include transition(transform .3s ease-in-out)
      }
      &.collapsed:before{
        transform: rotate(90deg);
      }
    }
  }
}

.panel-body{
  border-top-color: $bg-addition;
  padding: $panel-body-padding;
}

/***************************/
/*        Carousel         */
/***************************/

.carousel{
  .widget > &{
    margin: 0 (-($widget-padding-horizontal)) 5px;
  }
}

.carousel-control {
  &.left, &.right{
    background: none;
  }
  i{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
  }
}

.carousel-indicators{
  &.outer{
    bottom: -10px;
  }
  li{
    background-color: $bg-addition;
  }
}


/***************************/
/*          Wells          */
/***************************/

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: $well-bg;
  border: 1px solid $well-border;
  border-radius: $border-radius-base;
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}

// Sizes
.well-lg {
  padding: 24px;
  border-radius: $border-radius-lg;
}
.well-sm {
  padding: 9px;
  border-radius: $border-radius-sm;
}
