<div class="row">
    <div class="col-lg-12">
        <h2 class="page-title">Desks <small>o Gestión de turnos</small></h2>
    </div>
</div>


<div class="row">    
    <div class="col-lg-6">
        <section class="widget" widget>
            <li class="col-sm-4" *ngFor="let desk of desks | async">
            <header>
                <div class="row">
                    <div class="col-md-3">
                        <div class="text-center">
                            <img class="rounded-circle" src="assets/img/3.png" style="height: 72px;">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <h3>Mostrador</h3>                        
                        <h4>{{desk.name}}</h4>
                    </div>
                    <div class="col-md-2">
                          <div class="display-inline-block checkbox-ios">
                            <label class="switch" for="activechk-{{desk.id}}">
                                <input checked="" class="ios" id="activechk-{{desk.id}}" type="checkbox" [(ngModel)]="desk.active"><i></i>
                            </label>
                        </div>
                    </div>
                </div>
            </header>
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-4 text-right">
                        <p>Atendiendo</p>
                        <p>En espera</p>
                    </div>
                    <div class="col-md-2">
                        <p>{{desk.inProgress}}</p>
                        <p>{{desk.inQueue}}</p>
                    </div>
                    <div class="col-md-3">
                        Tiempo medio 
                    </div>
                    <div class="col-md-3">
                    {{desk.averageTime}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="text-center">
                            <li style="float:left;" class="abc-checkbox abc-checkbox-info">
                                <input checked="" id="checkboxAPP-{{desk.id}}" type="checkbox" [(ngModel)]="desk.appCheck">
                                <label for="checkboxAPP-{{desk.id}}">
                                    APP
                                </label>
                            </li>
                            <li style="float:left;" class="abc-checkbox abc-checkbox-info">
                                <input checked="" id="checkboxSMS-{{desk.id}}" type="checkbox" [(ngModel)]="desk.smsCheck">
                                <label for="checkboxSMS-{{desk.id}}">
                                    SMS
                                </label>
                            </li>
                            <li style="float:left;" class="abc-checkbox abc-checkbox-info">
                                <input checked="" id="checkboxTicket-{{desk.id}}" type="checkbox" [(ngModel)]="desk.ticketCheck">
                                <label for="checkboxTicket-{{desk.id}}">
                                    Ticket
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                   <div class="row">
                    <div class="col-md-12">
                        <form novalidate="" role="form" class="ng-untouched ng-valid ng-dirty">
                            <fieldset>
                                <legend class="section">
                                    Programar fecha
                                </legend>
                                <div class="form-group">
                                   <!-- <label for="datetimepicker2i">
                                        Programar
                                        <span class="help-block"> con fecha</span>
                                    </label>-->
                                <!--     <datetime [(ngModel)]="date" name="datetime" id="datetimepicker2i"></datetime>-->                          
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-warning" type="button"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
            </li>   
        </section>        
    </div>
    
    
    <div class="col-lg-6">
      <div class="card">
            <h4 class="card-title text-center"><strong>Crear cola</strong></h4>
            <div style="font-size: 100px; text-align: center; color: #56bc76; height: 120px;"><a routerLink="deskDetail" class="fa fa-plus fa-3x"> </a> </div>
        </div>
    </div>
    
</div>
