<h2 class="page-title">Matching - <span class="fw-semi-bold">Results</span></h2>
<section widget class="widget">
      <header>
        <h5>
          <i class="fa fa-align-left"></i>
          Inputs
        </h5>
        <div class="widget-controls">
          <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
          <a href="#"><i class="fa fa-refresh"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <form class="form-horizontal" role="form" >
          <fieldset>
            <legend class="section">Horizontal form</legend>            
            <div class="form-group row">
              <label for="hint-field" class="col-md-4 col-form-label text-md-right">
                Transparent input
              </label>
            <div>
                <ul>
                   <li *ngFor="let user of users | async">{{user.name}}</li>
               </ul>
            </div>
              <div class="col-md-7">
                <input type="text" id="transparent-field" class="form-control input-transparent" placeholder="Stylish, huh??">
              </div>
            </div>          
          </fieldset>
          <div class="form-actions">
            <div class="row">
              <div class="offset-md-4 col-md-7">
                <div class="btn-toolbar">
                  <button type="button" (click)="clicked()" class="btn btn-primary">Save Changes</button>
                  <button type="button" class="btn btn-inverse">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>