<div class="logo">
  <h4><a href="index.html">M <strong>Shop</strong></a></h4>
</div>
<nav sidebar id="sidebar" class="sidebar nav-collapse collapse"></nav>
<div class="wrap">
  <header navbar (changeSidebarPosition)="sidebarPosition($event)" (changeSidebarDisplay)="sidebarDisplay($event)"
          (openSidebar)="openSidebar()" class="page-header"></header>
  <main id="content" class="content view-animate fade-up" role="main">
    <div class="loading-overlay" #spinnerElement>
      <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
      </div>
    </div>
    <div class="router-component" #routerComponent>
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
