<ul id="side-nav" class="side-nav">
  <li [routerLinkActive]="['active']">
   <i class="fa fa-tachometer"></i>
    <a routerLink="dashboard"> <span class="name">Dashboard </span></a>
  </li>
  <li [routerLinkActive]="['active']">
    <i class="fa fa-ticket"></i>
    <a routerLink="desks">      <span class="name">Desks </span></a>
  </li>
  <li [routerLinkActive]="['active']">
   <i class="fa fa-mobile"></i>
    <a routerLink="devices"> <span class="name">Devices </span></a>
  </li>
</ul>
