<h2 class="page-title">Dashboard
  <small>Resumen </small>
</h2>
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="description">
                        <strong>14</strong> meetings
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="box">
                    <div class="big-text">
                        3.28%
                    </div>
                    <div class="description">
                        <i class="fa fa-user"></i>
                        User Growth
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="description">
                        <strong>643</strong> customers
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="box">
                    <div class="big-text">
                        +512
                    </div>
                    <div class="description">
                        <i class="fa fa-comments"></i>
                        Comments
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="description">
                        <strong>410</strong> orders
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="box">
                    <div class="big-text">
                        6.42%
                    </div>
                    <div class="description">
                        <i class="fa fa-arrow-right"></i>
                        Traffic Growth
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-xl-8">
    <section widget class="widget">
      <header>
        <h4>
          Visits
          <small>
            Based on a three months data
          </small>
        </h4>
        <div class="widget-controls">
          <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
          <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
          <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
          <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      
      <form class="form-horizontal form-label-left" role="form">
                    <fieldset>
                      <!--  <legend class="section"> En días, semanas, meses </legend>-->
                        <div class="form-group row">
                            <label class="col-md-5  col-form-label" for="simple-select">Elige días, semanas, meses </label>
                            <div class="col-md-7">
                                <select class="selectpicker" data-style="btn-secondary" data-width="auto" tabindex="-1" id="simple-select">
                                    <option value="0">Días</option>
                                    <option value="1">Semana</option>
                                    <option value="2">Mes</option>
                                </select>
                              <!--  <span class="help-block">Auto size</span>-->
                            </div>
                        </div>
                    </fieldset>
                </form>
      
      <div class="widget-body no-margin">
        <div nvd3-chart [chart]="nvd31Chart" [datum]="nvd31Data">
          <svg></svg>
        </div>
        <div class="visits-info well well-sm">
          <div class="row">
            <div class="col-md-3 col-6">
              <div class="key"><i class="fa fa-users"></i> Total Traffic</div>
              <div class="value"> <i class="fa fa-circle text-warning"></i> 24 541 <i class="fa fa-caret-up color-green"></i></div>
            </div>
            <div class="col-md-3 col-6">
              <div class="key"><i class="fa fa-bolt"></i> Unique Visits</div>
              <div class="value">14 778 <i class="fa fa-caret-down color-red"></i></div>
            </div>
            <div class="col-md-3 col-6">
              <div class="key"><i class="fa fa-plus-square"></i> Revenue</div>
              <div class="value">$3 583.18 <i class="fa fa-caret-up color-green"></i></div>
            </div>
            <div class="col-md-3 col-6">
              <div class="key"><i class="fa fa-user"></i> Total Sales</div>
              <div class="value">$59 871.12 <i class="fa fa-caret-down color-red"></i></div>
            </div>
          </div>
        </div>
      </div>
    </section>
       <section class="widget" widget>
            <header>
                <h4>
                Tiempo <span class="fw-semi-bold">Medio</span>
              </h4>
                <div class="widget-controls">
                    <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
               <form class="form-horizontal form-label-left" role="form">
                    <fieldset>
                      <!--  <legend class="section"> En días, semanas, meses </legend>-->
                        <div class="form-group row">
                            <label class="col-md-5  col-form-label" for="simple-select">Elige días, semanas, meses </label>
                            <div class="col-md-7">
                                <select class="selectpicker" data-style="btn-secondary" data-width="auto" tabindex="-1" id="simple-select">
                                    <option value="0">Días</option>
                                    <option value="1">Semana</option>
                                    <option value="2">Mes</option>
                                </select>
                              <!--  <span class="help-block">Auto size</span>-->
                            </div>
                        </div>
                    </fieldset>
                </form>
            <div class="widget-body">
                <p class="fs-sm">
                </p>
                <div morris-chart [type]="'line'" [height]="343" [options]="morris1Options">
                </div>
                 
            </div>
        
        </section>
 
  </div>
  <div class="col-xl-4"> 
       <section class="widget" widget>
            <header>
                <h4>
                Toma de <span class="fw-semi-bold">turnos</span>
              </h4>
                <div class="widget-controls">
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <p class="fs-sm">
                    Datos de toma de turnos
                </p>
                <div jq-sparkline [data]="sparklinePieData" [options]="sparklinePieOptions" class="chart-overflow-bottom mb-0 text-center"></div>
            </div>
             <div>
                   <ul>
                    <li>
                        <p>Móvil  <span class="float-right">
                           60%
                        </span></p>                       
                    </li>
                    <li>
                        <p>APP
                           <span class="float-right">
                           29% 
                        </span>
                        </p>                     
                    </li>
                    <li>
                        <p>Ticket  <span class="float-right">6% 
                            </span>
                        </p>    
                    </li>
                </ul>
                </div>
                
        </section>    
    <section class="widget large" widget>
      <header>
        <h4>
          Status
          <span class="badge badge-primary">11</span>
        </h4>

        <div class="actions">
          <button class="btn btn-transparent">Mostrar todos <i class="fa fa-arrow-down"></i></button>
        </div>
      </header>
      <div class="widget-body">
        <div id="feed" class="feed">
          <div class="wrapper">
            <div class="vertical-line"></div>
            <section class="feed-item">
              <div class="icon float-left">
                <i class="fa fa-circle text-danger"></i>
              </div>
              <div class="feed-item-body">
                <div class="text">
                  <a href="#"> Impresora 1</a> en estado <a href="#">Crítico</a>.
                </div>
                <div class="time float-left">
                  Hora: 10.45h.
                </div>
              </div>
            </section>
            <section class="feed-item">
              <div class="icon float-left">
                <i class="fa fa-circle text-warning"></i>
              </div>
              <div class="feed-item-body">
                <div class="text">
                  <a href="#">Totem 1</a> en estado <a href="#">Revisión</a>.
                </div>
                <div class="time float-left">
                  Hora: 08.45 h
                </div>
              </div>
            </section>     
            <section class="feed-item">
              <div class="icon float-left">
                <i class="fa fa-circle text-warning"></i>
              </div>
              <div class="feed-item-body">
                <div class="text">
                  <a href="#"> Impresora 3</a> en estado <a href="#">Revisión</a>.
                </div>
                <div class="time float-left">
                  Hora: 10.45h.
                </div>
              </div>
            </section>
            <section class="feed-item">
              <div class="icon float-left">
                <i class="fa fa-circle text-success"></i>
              </div>
              <div class="feed-item-body">
                <div class="text">
                  <a href="#">Impresora 4</a> en estado <a href="#">Revisión</a>.
                </div>
                <div class="time float-left">
                  Hora: 08.45 h
                </div>
              </div>
            </section>   
            <section class="feed-item">
              <div class="icon float-left">
                <i class="fa fa-circle text-success"></i>
              </div>
              <div class="feed-item-body">
                <div class="text">
                  <a href="#">Impresora 4</a> en estado <a href="#">Revisión</a>.
                </div>
                <div class="time float-left">
                  Hora: 08.45 h
                </div>
              </div>
            </section>  
            <section class="feed-item">
              <div class="icon float-left">
                <i class="fa fa-arrow-down"></i>
              </div>
              <div class="feed-item-body">
                <div class="text">
                  <a href="#">Cargar más...</a>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
   </div>
</div>

