<nav class="navbar-collapse">
  <ul class="nav navbar-nav navbar-right float-right">
    <li class="nav-item visible-phone-landscape">
      <a (click)="searchFormOpen()" class="nav-link" href="#" id="search-toggle">
        <i class="fa fa-search"></i>
      </a>
    </li>
   
    <li class="nav-item dropdown">
      <a href title="8 support tickets"
         class="nav-link dropdown-toggle"
         data-toggle="dropdown">
        <i class="glyphicon glyphicon-comment"></i>
        <span class="count">8</span>
      </a>
      <ul id="support-menu" class="dropdown-menu support" role="menu">
        <li role="presentation">
          <a href="#" class="dropdown-item support-ticket ">
            <div class="picture">
              <span class="badge badge-important"><i class="fa fa-bell-o"></i></span>
            </div>
            <div class="details">
              Incidencia grave en...
            </div>
          </a>
        </li>
        <li role="presentation">
          <a href="#" class="dropdown-item support-ticket">
            <div class="picture">
              <span class="badge badge-warning"><i class="fa fa-question-circle"></i></span>
            </div>
            <div class="details">
              Incidencia leve en...
            </div>
          </a>
        </li>
        <li role="presentation">
          <a href="#" class="dropdown-item support-ticket">
            <div class="picture">
              <span class="badge badge-success"><i class="fa fa-tag"></i></span>
            </div>
            <div class="details">
              Inicio campaña verano
            </div>
          </a>
        </li>
        <li role="presentation">
          <a href="#" class="dropdown-item support-ticket">
            <div class="picture">
              <span class="badge badge-info"><i class="fa fa-info-circle"></i></span>
            </div>
            <div class="details">
              5 estados a revisar
            </div>
          </a>
        </li>
        <li role="presentation">
          <a href="#" class="dropdown-item text-center see-all">
            Ver todos los tickets <i class="fa fa-arrow-right"></i>
          </a>
        </li>
      </ul>
    </li>
    <li class="divider"></li>
    <li class="nav-item dropdown hidden-sm-down">
      <a href title="Account" id="account"
         class="nav-link dropdown-toggle"
         data-toggle="dropdown">
        <i class="glyphicon glyphicon-user"></i>
      </a>
      <ul id="account-menu" class="dropdown-menu account" role="menu">
        <li role="presentation" class="account-picture">
          <img src="assets/img/2.png" alt="">
            U. Random
        </li>
        <li role="presentation">
          <a routerLink="profile" class="dropdown-item">
            <i class="fa fa-user"></i>
            Perfil
          </a>
        </li>
        <li role="presentation">
          <a routerLink="calendar" class="dropdown-item">
            <i class="fa fa-calendar"></i>
            Calendario
          </a>
        </li>
        <li role="presentation">
          <a routerLink="/login" class="dropdown-item">
            <i class="glyphicon glyphicon-off"></i>
            Cerrar sesión
          </a>
        </li>     
      </ul>
    </li>
    <li class="hidden-md-up mr-3">
      <a href="#" (click)="sidebarOpen()" class="btn-navbar" data-toggle="collapse" data-target=".sidebar" title="">
        <i class="fa fa-bars"></i>
      </a>
    </li>
  
  </ul>
 
</nav>
