<h2 class="page-title">Devices <span class="fw-semi-bold"></span></h2>

<div class="row">
  <div class="col-md-10">
    <ul class="row thumbnails">       
  <!--     <li class="col-sm-4">
    <div class="card">         
      <h4 class="card-title"><strong>Totem 1</strong></h4>
      <img src="assets/img/totem.png" class="card-img-top" alt="">
      <div class="card-block">             
        <p class="card-text">
        <strong>Do you see a slender plastic tag clipped to my shirt with my name printed on it?</strong>
        </p>
        <ul>
            <li>puede que vacio</li>
            <li>Última conexión: 26 Jul 12:22</li>
            <li><span class="badge badge-danger"></span>Status: fallo crítico</li>                
        </ul>           
      </div>
    </div>
  </li>      
  <li class="col-sm-4">
    <div class="card">
       <h4 class="card-title"><strong>Impresora 1</strong></h4>
      <img src="assets/img/impresora.png" class="card-img-top" alt="">
      <div class="card-block">           
        <p class="card-text">
        <strong>Normally, both your asses would</strong> be dead as fucking fried chicken, but you happen to pull this shit
        </p>
        <ul>
            <li>Estado del papel: 80%</li>
            <li>Última conexión: 26 Jul 12:22</li>
            <li><span class="badge badge-success"></span>Status: óptimo</li>
        </ul>
      </div>
    </div>
  </li>  -->
         <li class="col-sm-4" *ngFor="let device of devices">
           <div class="card">
               <h4 class="card-title"><strong>{{device.name}}</strong>
                <div class="display-inline-block checkbox-ios">
                  <label class="switchBo" for="device-{{device.id}}">
                     <input class="ios" id="device-{{device.id}}" (change)="changeActive($event,device.id)" type="checkbox" name="deviceName-{{device.id}}" [(ngModel)]="device.active"><i></i>
                  </label>
                </div>
               </h4>             
             <img src={{device.deviceType.imageUrl}} class="card-img-top" alt="">             
             <div class="card-block">               
               <p class="card-text"> {{device.lastConnectionDate}}</p>
               <p class="card-text"> {{device.name}} </p>
               <ul>         
                 <!--  [routerLink]="['/product-details', product.id]"> -->
                <!-- <li><button (click)="goToDeviceDetail(device.id)" type="button" id="new-message-btn" class="btn btn-transparent btn-block">Detalle / Editar</button></li>
           <li><button [routerLink]="['deviceDetail', device.id]" type="button" id="new-message-btn" class="btn btn-transparent btn-block">Details</button></li>-->
               </ul>
             </div>
             <a><button [routerLink]="['deviceDetail', device.id]" type="button" id="new-message-btn" class="btn btn-transparent btn-block">Details</button></a>
             <button type="button" (click)="deleteDevice(device.id)" class="btn btn-inverse">Delete Device</button>
           </div>
                 </li>
        
      <li class="col-sm-4">
        <div class="card text-center">
         <h4 class="card-title">
          <strong>Añadir dispositivo</strong>
          </h4>
        <form #form="ngForm" (submit)="validateNewDevice()" ngNativeValidate>
            <div>
            <label>Introducir Token:</label>
                <input type="text" id="token" name="token" [(ngModel)]="tokenDevice" required #token="ngModel">
            </div>
            <div *ngIf="token.required" class="alert alert-danger">   
                Por favor, introducr Token.
            </div>
            <div class="card-block">
              <p>
                <!-- <a [routerLink]="['deviceDetail', 0]" class="fa fa-plus fa-3x"> </a>-->
                <button type="submit" class="fa fa-plus fa-3x"></button>
               <!--  <a type="submit" class="fa fa-plus fa-3x"> </a> -->
              </p>
            </div>            
        </form>
          </div>
      </li>
      
    </ul>
  </div>
</div>
